<div class="container" id="contact-section">
    <div class="container border-2">
        <h1 class="text-center text-secondary my-4">Contact Us</h1>
        
        <form action="https://formspree.io/f/xdorplpd" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter Your Email address</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">

            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contact No.</label>
                <input name="contact" type="number" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-floating">
                <textarea name="query" class="form-control" placeholder="Enter your query" id="floatingTextarea2"
                    style="height: 200px"></textarea>
                <label for="floatingTextarea2">Enter your Query</label>
            </div>
            <div class="container text-center">
                <button type="submit" class="btn btn-primary text-center my-5">Submit</button>
            </div>
            <div class="container text-center">
                <h1 class="text-center text-secondary my-4">Directon</h1>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3680.7330406269166!2d75.8671773102874!3d22.700979779314462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd85b5da9a41%3A0x35968dd2db18607a!2sER.J.C.PUNJABI%20*21%20INCOME%20TAX%20VALUER%20*21%20BANK%20VALUER%20*21%20GOVT%20APPROVED%20*21%20PROPERTY%20VALUER%20*21%20IN%20INDORE%20*21!5e0!3m2!1sen!2sin!4v1696606778034!5m2!1sen!2sin"
                    width="100%" height="350" style="border:0; margin-bottom: 55px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>

        </form>

    </div>
</div>