<script src="https://kit.fontawesome.com/02f20a6d30.js" crossorigin="anonymous"></script>


<div class="footer">
    <div class="footer-child">
        <h3>Company</h3>
        <p>About Us</p>
        <p>Carear</p>
        <p>Contact Us</p>
    </div>
    <div class="footer-child">
        <h3>Policies</h3>
        <p>Privacy Policies</p>
        <p>Terms of use</p>
        <p>Copyright Policy</p>
    </div>
    <div class="footer-child">
        <h3>Business Hours</h3>
        <p>Mon: 9:00 AM – 7:00 PM</p>
        <p>Tue: 9:00 AM – 7:00 PM</p>
        <p>Wed: 9:00 AM – 7:00 PM</p>
        <p>Thu: 9:00 AM – 7:00 PM</p>
        <p>Fri: 9:00 AM – 7:00 PM</p>
        <p>Sat: 9:00 AM – 7:00 PM</p>
        <p>Sun: Close</p>
    </div>
    <div class="footer-child">
        <h3>Address</h3>
        <p>303, Third Floor</p>
        <p>Satya Tower</p>
        <p>opp. Bank Of Baroda</p>
        <p>Indore, Madhya Pradesh 452001</p>
        <p>India</p>
    </div>
</div>

<div class="social-media-icon">

    <div class="icon"><i class='fa fa-whatsapp'></i></div>
    <div class="icon"><i class="fa-regular fa-envelope"></i></div>
    <div class="icon"><i class='fa fa-instagram'></i></div>
    <div class="icon"><i class='fa fa-facebook-square'></i></div>
    <div class="icon"><i class='fa fa-telegram'></i></div>
</div>


<!-- copyright div  -->
<div class="copyright">
    <p>Copyright © 2022 ER. JC PUNJABI . All Rights Reserved</p>
    <p>Developed by 🖤Govind </p>
</div>

<style>
    .slider-height {
        height: 600px !important
    }

    .servies-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(5, 28, 108);
        color: white;
    }

    .footer h3 {
        margin-top: 50px;
        margin-bottom: 10px;
        color: var(--bg);
        background-color: rgb(5, 28, 108);
        color: white;
    }

    .footer p {
        line-height: 15px;
    }

    .social-media-icon {
        padding-top: 45px;
        padding-bottom: 45px;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(5, 28, 108);
        color: white;
        text-decoration: none;
    }

    .social-media-icon .icon {
        margin: 20px;
        font-size: 35px;
        font-weight: 300;
        cursor: pointer;
    }

    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(5, 28, 108);
        color: white;
    }

    .copyright p {
        align-items: center;
        justify-content: center;
        margin: 10px;
        font-size: 20px;
    }

    .icon a {
        text-decoration: none;
    }
</style>