<div id="gallery-section" class="py-5">
    <div class="container">
        <h1 id="#gallery" class="text-center text-secondary my-5">Gallery</h1>
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card-body">
                    <div class="container servies-img py-3">
                        <img src="/static/images/im1.jpg"
                            style="width: 550px; height: 280px; border:3px solid">
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="card-body">
                    <div class="container servies-img py-3">
                        <img src="https://lh3.googleusercontent.com/p/AF1QipONNhOJveXat0Ce8lDjM8ySrwP9EFhE0sVhH8i-=w960-h960-n-o-v1"
                            style="width: 550px; height: 280px; border:3px solid">
                    </div>

                </div>

            </div>
            <div class="col-md-4">

                <div class="card-body">
                    <div class="container servies-img py-3">
                        <img src="/static/images/img1.jpeg"
                            style="width: 550px; height: 280px; border:3px solid">
                    </div>

                </div>

            </div>
            <div class="col-md-4">

                <div class="card-body">
                    <div class="container servies-img py-3">
                        <img src="https://lh3.googleusercontent.com/p/AF1QipOQhOpDBTuecHZkJJ8s4s1esnLZZDPxuvBGRAHc=w960-h960-n-o-v1"
                            style="width: 550px; height: 280px; border:3px solid">
                    </div>

                </div>

            </div>

            <div class="col-md-4">

                <div class="card-body">
                    <div class="container servies-img py-3">
                        <img src="/static/images/img5.jpeg"
                            style="width: 350px; height: 280px; border:3px solid">
                    </div>

                </div>
            </div>
        
        </div>
    </div>
</div>



