<div id="servies-section" class="py-5">

    <div class="container">
        <h1 class="text-center text-secondary my-5">Servies that we Provide</h1>
        <div class="row mt-5">

            <div class="col-md-4">
                <div class="card my-3">
                    <div class="card-body">
                        <div class="container servies-img py-3">
                            <img src="https://th.bing.com/th/id/OIP.5GywnCn7kHQVSGXlicaFnQHaDt?w=299&h=174&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="width: 350px; height: 230px;">
                        </div>
                        <h3 class="text-center">REGISTER VALUER</h3>
                        {{!-- <p class="text-center">We are a IBBI Regester Valuer & Government approved register Valuer(Income Tax)</p> --}}
                       
                    </div>
                </div>
            </div>
           
            <div class="col-md-4">
                <div class="card my-3">
                    <div class="card-body">
                        <div class="container servies-img py-3">
                            <img src="https://th.bing.com/th/id/OIP.MUvbRf1aDQR1_EQoXuOOKAAAAA?w=138&h=139&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="width: 350px; height: 230px;">
                        </div>
                        <h3 class="text-center">Surveyor & Loss Assessor</h3>
                        <p class="text-center"> </p>
                       
                    </div>
                </div>
            </div>
             <div class="col-md-4">
                <div class="card my-3">
                    <div class="card-body">
                        <div class="container servies-img py-3">
                            <img src="https://th.bing.com/th/id/OIP.rTs-n887kevt9dKp1lZGmwHaDt?w=349&h=174&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="width: 350px; height: 230px;">
                        </div>
                        <h3 class="text-center">Tecnical Expert MPFC</h3>
                        <p class="text-center"></p>
                       
                    </div>
                </div>
            </div>
             <div class="col-md-4">
                <div class="card my-3">
                    <div class="card-body">
                        <div class="container servies-img py-3">
                            <img src="https://th.bing.com/th/id/OIP.BXXiDr1Az15iGSgxWne0lwHaEK?w=320&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="width: 350px; height: 230px;">
                        </div>
                        <h3 class="text-center"> Panel Valuer of BOB , SBI , PNB</h3>
                        <p class="text-center"></p>
                       
                    </div>
                </div>
            </div>
             <div class="col-md-4">
                <div class="card my-3">
                    <div class="card-body">
                        <div class="container servies-img py-3">
                            <img src="https://th.bing.com/th/id/OIP.DmQ2bysrIhS0yMdscsiUWwHaEK?w=280&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="width: 350px; height: 230px;">
                        </div>
                        <h3 class="text-center">Panel Valuer of UBI , BOI , CANARA BANK</h3>
                        <p class="text-center"></p>
                       
                    </div>
                </div>
            </div>
             <div class="col-md-4">
                <div class="card my-3">
                    <div class="card-body">
                        <div class="container servies-img py-3">
                            <img src="https://th.bing.com/th/id/OIP.LAGjXmbiKTZ7bSEbc8Fa3gHaEW?w=252&h=185&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="width: 350px; height: 230px;">
                        </div>
                        <h3 class="text-center">Panel Valuer of OBC , AXIS BANK , LIC-HFL , NJGB</h3>
                        <p class="text-center"></p>
                       
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

